<% layout('layouts/boilerplate') %>

    <div id="cluster-map"></div>
    <div class="container">
        <h1 class="text-center mt-2">All Campgrounds</h1>
        <div>
            <div class="row mb-3">
                <div class="col-lg-6 offset-lg-3">
                    <div class="row">
                        <div class="input-group mb-2">
                            <div class="col-8">
                                <input type="text" class="form-control" aria-label="Search feature with dropdown select" placeholder="Search by campground name or location" id="search">
                            </div>
                            <div class="col-4">
                                <select class="form-select" aria-label="Dropdown select for search feature" id="options">
                                    <option value="title">Name</option>
                                    <option value="location">Location</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
            <div id="campgrounds">
            <% for (let campground of campgrounds) { %>
                <div class="card mb-3" id="<%=campground._id%>">
                    <div class="row">
                        <div class="col-md-4">
                            <% if (campground.images.length) { %>
                                <img src="<%=campground.images[0].crop%>" alt="campground image" class="img-fluid">
                                <% } else { %>
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930"
                                        alt="no image found" class="img-fluid">
                                    <% } %>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%=campground.title%>
                                </h5>
                                <p class="card-text">
                                    <%=campground.description%>
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <%=campground.location%>
                                    </small>
                                </p>
                                <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">View
                                    <%=campground.title%>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
            <script>
                const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
                const campgrounds = <%-JSON.stringify(campgrounds)%>
            </script>
            <script src="/js/clusterMap.js"></script>
            <script src="/js/search.js"></script>